	<div class="all-products-bar">
		<div class="container">
			<h3 class="hidden-xs">All Products Overview <a href="#" class="all-products-more-info pull-right">More Info <span class="caret"></span></a></h3>
			<h3 class="visible-xs">All Products Overview <br><a href="#" class="all-products-more-info">More Info <span class="caret"></span></a></h3>
		</div>
	</div>
	<div class="all-products-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p class="lead">We are excited to offer three services with varying levels of security to protect your privacy:</p>
				</div>
				<div class="col-sm-4 product-description">
					<h4>ProShield Single-Line</h4>
					<p>Phone line/SIP accounts services for your business, with 2 levels of security to choose from.</p>
					<p><em>Best for consumer companies and resellers with a single phone line.</em></p>
					<p><a href="{{ site.baseurl }}/proshield-single-line">More Info</a></p>
				</div>
				<div class="col-sm-4 product-description">
					<h4>ProShield Multi-Line</h4>
					<p>Virtual PBX services for your business with 2 levels of security to choose from.</p>
					<p><em>Best for consumer companies and resellers with many phone lines.</em></p>
					<p><a href="{{ site.baseurl }}/proshield-multi-line">More Info</a></p>
				</div>
				<div class="col-sm-4 product-description">
					<h4>ExecutiveShield (for single or multiple phone lines)</h4>
					<p>Vitural PBX & Phone line/SIP accounts exceeding all levels of international intelligence gathering.  <strong>This is the highest level of telecommunications security in existence.</strong></p>
					<p><em>Best for governments, financial and security organizations.</em></p>
					<p><a href="{{ site.baseurl }}/executiveshield">More Info</a></p>
				</div>
			</div>
		</div>
	</div><!-- END: .all-products-content -->
</section>