<h4>Basic vs. High Comparison:</h4>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>ProShield Single-Line</th>
			<th class="font-light">Basic</th>
			<th class="font-light">High</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Phone Line/SIPS Account</td>
			<td class="text-center"><img src="/assets/img/checkmark_shield@2x.png" width="21" height="25" alt="Checkmark Shield"></td>
			<td class="text-center"><img src="/assets/img/checkmark_shield@2x.png" width="21" height="25" alt="Checkmark Shield"></td>
		</tr>
		<tr>
			<td>VPN</td>
			<td></td>
			<td class="text-center"><img src="/assets/img/checkmark_shield@2x.png" width="21" height="25" alt="Checkmark Shield"></td>
		</tr>
		<tr>
			<td>Call Audio Scrambling <br> <small>(Only available with <a href="executiveshield">ExecutiveShield</a>)</small></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>