<section class="two" id="availability">
  <div class="container">
    <h2>Availability</h2>
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <ol class="list-unstyled countries">
          <li>Argentina</li>
          <li>Australia</li>
          <li>Austria</li>
          <li>Bahrain</li>
          <li>Belgium</li>
          <li>Brazil</li>
          <li>Bulgaria</li>
          <li>Canada</li>
          <li>Chile</li>
          <li>China</li>
          <li>Croatia</li>
          <li>Cyprus</li>
          <li>Czech Republic</li>
          <li>Denmark</li>
          <li>Dominican Republic</li>
          <li>El Salvador</li>
          <li>Estonia</li>
          <li>Finland</li>
          <li>France</li>
          <li>Georgia</li>
          <li>Germany</li>
          <li>Greece</li>
          <li>Hong Kong</li>
          <li>Hungary</li>
          <li>Ireland</li>
          <li>Israel</li>
          <li>Italy</li>
          <li>Japan</li>
          <li>Latvia</li>
          <li>Lithuania</li>
          <li>Luxembourg</li>
          <li>Malta</li>
          <li>Mexico</li>
          <li>Netherlands</li>
          <li>New Zealand</li>
          <li>Norway</li>
          <li>Panama</li>
          <li>Peru</li>
          <li>Poland</li>
          <li>Portugal</li>
          <li>Puerto Rico</li>
          <li>Romania</li>
          <li>Russia</li>
          <li>Singapore</li>
          <li>Slovakia</li>
          <li>Slovenia</li>
          <li>South Africa</li>
          <li>Spain</li>
          <li>Sweden</li>
          <li>Switzerland</li>
          <li>Thailand</li>
          <li>Turkey</li>
          <li>United Kingdom</li>
          <li>USA</li>
        </ol>
      </div>
      <div class="col-md-3 visible-md visible-lg text-center belief">
        "Because your voice is <br>valuable"
      </div>
      <div class="col-md-3 visible-sm visible-xs text-center belief">
        "Because your voice is valuable"
      </div>
    </div>
  </div>
</section>