{% for product_group in site.data.products %}
<section class="product-group {{ product_group.home_css_class }}">
  <div class="container">
    <h2>We Provide {{ product_group.name }}</h2>
    {% for product in product_group.products %}
    <div class="row product-overview">
      <div class="col-sm-2 col-md-2 big-number">
        {{ product.id }}
      </div>
      <div class="col-sm-10 col-md-4">
        <h3>{{ product.name }}<span class="tm">&trade;</span></h3>
        <p class="lead"><strong>{{ product.tech_name }}</strong> {{ product.short_description }} <span><small><em>{{ product.best_for }}</em></small></span></p>
        <p class="more-please">
          <a href="{{ site.baseurl}}/{{ product.permalink }}" class="btn btn-info">Learn More <span class="icon icon-arrow-68"></span></a>
        </p>
      </div>
      <div class="col-sm-12 col-md-3 levels {% if product.tower_bg == true %}tower{% else %}no-tower{% endif %}">
        {% for product_security in product.security %}
        <div class="level">
          <span>{{ product_security }}</span>
          <div class="rating pull-right">
            {% if product_security == 'Basic' %}
            <img src="/assets/img/shield-blue.png" width="19" height="22" alt="Shield">
            {% elsif product_security == 'High' %}
            <img src="/assets/img/shield-blue.png" width="19" height="22" alt="Shield">
            <img src="/assets/img/shield-blue.png" width="19" height="22" alt="Shield">
            {% elsif product_security == 'Ultimate' %}
            <img src="/assets/img/shield-blue.png" width="19" height="22" alt="Shield">
            <img src="/assets/img/shield-blue.png" width="19" height="22" alt="Shield">
            <img src="/assets/img/shield-blue.png" width="19" height="22" alt="Shield">
            <img src="/assets/img/shield-blue.png" width="19" height="22" alt="Shield">
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% if product.infographic %}
        <div class="level">
          <img src="/assets/img/{{ product.infographic }}" alt="" width="201" height="199" class="img-responsive center-block">
        </div>
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-3 text-center belief">
        “{{ product.belief_statement }}”
      </div>
    </div>
    {% if product.hr == true %}
    <hr>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endfor %}