---
layout: default
---

<div class="page-header product-page-header">
	<div class="container">
		<h1 class="text-center">{{ page.intro }}</h1>	
	</div>
</div>

<!-- <section class="product-overview">
	<div class="container">
		<h2>{{ page.title }}</h2>
		<p class="lead">{{ page.description }}</p>
		<p class="lead lead-italic">{{ page.best_for }}</p>
		<h3>Product Features</h3>
		<ul class="list-group">
			{% for feature in page.features %}
			<li class="list-group-item">{{ feature }}</li>
			{% endfor %}
		</ul>
	</div>
</section> -->

<section class="product-overview">
	<div class="container">
		<h2>{{ page.title }}</h2>
		<p class="lead">{{ page.description }}</p>
		<p class="lead lead-italic">{{ page.best_for }}</p>
		<h3>Product Features</h3>

		<div class="panel-group" id="accordion">
			{% assign features = page.features %}
			<!-- {% assign items = features.parent %} -->
			{% for feature in features %}
			<div class="panel panel-default">

				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							{{ feature.parent }}
							<span class="collapse-open pull-right"></span>
							<div class="triangle pull-right"></div>
						</a>
					</h4>
				</div>

				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<ul>
							<!-- {% assign items = feature.parent %} -->
							<!-- {% for features_list in items.list %}
							<li>{{ features_list }}</li>
							{% endfor %} -->
							{% assign features_list = page.features | map: 'parent' %}
							<li>{{ features_list }}</li>
							<li>Calling with Phone or Computer / CTI</li>
							<li>Online Voicemailbox with E-mail Support</li>
							<li>Pre- or Postpaid</li>
							<li>Call rerouting</li>
							<li>Parallel Signaling and Follow-me</li>
							<li>Fax as PDF</li>
							<li>Online Administration</li>
							<li>Compatible with all SIP Phones and nearly all PBX Systems </li>
						</ul>
					</div>
				</div>

			</div>
			{% endfor %}

		</div>
	</div>
</section>

<div class="container">
	<h3>2 Levels of Security to Choose from:</h3>
</div>

<section class="product-benefits tabs bg-blue-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-8">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#basic-overview" data-toggle="tab"><span class="icon icon-check-list"></span> Overview</a></li>
					<li><a href="#basic-technical-details" data-toggle="tab"><span class="icon icon-chip"></span> Technical Details</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="basic-overview">
						<h4>Basic Security&nbsp;
							<img src="themes/bootstrap/img/shield-blue.png" width="19" height="22" alt="Shield">
							<br><span>(TLS/SIPS & SRTP)</span>
						</h4>
						<p>With ProShield Single-Line Basic, your phone line is secure with a Basic encryption from your device to our Globacom Carrier Grade Softswitch (GCGS) central platform.</p>
					</div>
					<div class="tab-pane" id="basic-technical-details">
						<h4>Technical Details</h4>
						<p>ProShield Single-Line Basic supports both encrypted signaling known as SIPS which can be SSL or TLS with signed certificates. ProShield Single-Line Basic also supports encrypted audio/media known as SRTP. Typical convention is to have the unencrypted SIP control channel on UDP port 5060 (although the standards also allow for using TCP port 5060 as well), and an SSL encrypted or TLS encrypted SIP control channel known as SIPS on TCP port 5061.</p>
						<p>SRTP is ideal for protecting Voice over IP traffic because it can be used in conjunction with header compression and has no effect on IP Quality of Service. This provides significant advantages, especially for voice traffic using low-bitrate voice codecs.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 comparison-chart">
				<h4>Basic vs. High Comparison:</h4>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>ProShield Single-Line</th>
							<th class="font-light">Basic</th>
							<th class="font-light">High</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Phone Line/SIPS Account</td>
							<td class="text-center"><img src="themes/bootstrap/img/checkmark_shield@2x.png" width="21" height="25" alt="Checkmark Shield"></td>
							<td class="text-center"><img src="themes/bootstrap/img/checkmark_shield@2x.png" width="21" height="25" alt="Checkmark Shield"></td>
						</tr>
						<tr>
							<td>VPN</td>
							<td></td>
							<td class="text-center"><img src="themes/bootstrap/img/checkmark_shield@2x.png" width="21" height="25" alt="Checkmark Shield"></td>
						</tr>
						<tr>
							<td>Call Audio Scrambling <br> <small>(Only available with <a href="executiveshield">ExecutiveShield</a>)</small></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-12 text-center">
			<img src="themes/bootstrap/img/1level_of_security@2x.png" class="img-responsive center-block" width="604" height="208" alt="Security Infographic">
		</div>
	</div>
</section>

<section class="product-benefits tabs-inverse">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-8">
				<ul class="nav nav-tabs nav-tabs-inverse">
					<li class="active"><a href="#high-overview" data-toggle="tab"><span class="icon icon-check-list"></span> Overview</a></li>
					<li><a href="#high-technical-details" data-toggle="tab"><span class="icon icon-chip"></span> Technical Details</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content tab-content-inverse">
					<div class="tab-pane active" id="high-overview">
						<h4>High Security&nbsp;
							<img src="themes/bootstrap/img/shield-blue.png" width="19" height="22" alt="Shield">
							<img src="themes/bootstrap/img/shield-blue.png" width="19" height="22" alt="Shield">
							<br><span>(TLS/SIPS,SRTP & VPN)</span>
						</h4>
						<p>With ProShield Single-Line High, your phone line is more secure with the same Basic encryption, plus VPN from your device to our Globacom Carrier Grade Softswitch (GCGS) central platform, providing a higher level of security.</p>
					</div>
					<div class="tab-pane" id="high-technical-details">
						<h4>Technical Details</h4>
						<p>ProShield Single-Line High combines ProShield Single Line Basic, plus voice over IP (VoIP / Voice over Internet Protocol) and virtual private network technologies to offer a method for delivering secure voice. Because VoIP transmits digitized voice as a stream of data, the VoIP (Voice over Internet Protocol) VPN solution accomplishes voice encryption quite simply, applying standard data-encryption mechanisms. With ProShield Single-Line High you have a VPN tunnel to our Datacenter in Switzerland. All calls can be tunneled both sides. Inside of the tunnel you have encrypted Voice and Signaling (TLS/SIP/SRTP).</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4 comparison-chart">
				<h4>Basic vs. High Comparison:</h4>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>ProShield Single-Line</th>
							<th class="font-light">Basic</th>
							<th class="font-light">High</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Phone Line/SIPS Account</td>
							<td class="text-center"><img src="themes/bootstrap/img/checkmark_shield@2x.png" width="21" height="25" alt="Checkmark Shield"></td>
							<td class="text-center"><img src="themes/bootstrap/img/checkmark_shield@2x.png" width="21" height="25" alt="Checkmark Shield"></td>
						</tr>
						<tr>
							<td>VPN</td>
							<td></td>
							<td class="text-center"><img src="themes/bootstrap/img/checkmark_shield@2x.png" width="21" height="25" alt="Checkmark Shield"></td>
						</tr>
						<tr>
							<td>Call Audio Scrambling <br> <small>(Only available with <a href="executiveshield">ExecutiveShield</a>)</small></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-12 text-center">
			<img src="themes/bootstrap/img/2levels_of_security@2x.png" class="img-responsive center-block" width="604" height="208" alt="Security Infographic">
		</div>
	</div>
</section>
